
Available recipes:
    {% for recipe in recipes %}
    {{ recipe }}{% endfor %}

Use in conjunction with startproject: `synthesis startproject RECIPE`
Example: synthesis startproject django_minimal
    
    
