
Inspect lineup "{{lineup_name}}":
    {% for service in lineup %}
    Service "{{ service }}"
        {% for parameter in lineup[service] %}{{ parameter }}: {{ lineup[service][parameter] }}
        {% endfor %}{% endfor %}

