
Inspect lineup "{{lineup_name}}":
    {% for component in lineup %}
    Service "{{ component }}"
        {% for parameter in lineup[component] %}{{ parameter }}: {{ lineup[component][parameter] }}
        {% endfor %}{% endfor %}

