{{ django_settings }}

##
#
# Below are settings inserted by components in your project.
#

{% for key in components_settings %}
## {{ components_settings[key].description }} ({{ components_settings[key].component_name }}, {{ components_settings[key].component_type }})
{% if components_settings[key].type == 'string' %}
{{ components_settings[key].key }} = '{{ components_settings[key].value }}'
{% else %}
{{ components_settings[key].key }} = {{ components_settings[key].value }}
{% endif %}
{% endfor %}
